{% load unfold %}
{% if not is_popup %}
    {% block header %}
        <div class="bg-white border-b border-base-200 mb-6 px-4 z-40 dark:bg-base-900 dark:border-base-800 dark:text-font-default-dark {% element_classes 'header' %}">
            <div class="{% if not cl.model_admin.list_fullwidth %}container{% endif %} flex items-center h-16 mx-auto py-4">
                <div id="header-inner" class="flex items-center w-full">
                    <div class="flex items-center w-full">
                        {% block usertools %}
                            {% if has_permission %}
                                {% block welcome-msg %}
                                    {% include 'unfold/helpers/welcomemsg.html' %}
                                {% endblock %}
                                {% if request.resolver_match.url_name == 'index' %}
                                    {% block search %}
                                        <div class="flex w-full max-w-4xl font-semibold items-center mx-auto mr-3">
                                            <div class="bg-white border border-base-200 flex flex-row items-center rounded-default relative shadow-xs w-full focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-primary-600 dark:bg-base-900 dark:border-base-700 dark:text-font-default-dark">
                                                <form class="flex flex-1 w-full items-center text-sm" method="get" action="{% url 'explorer_direct' %}" onsubmit="return !!this.elements['q'].value.trim();">
                                                    <input type="text" name="q" placeholder="Search for Applications, Servers, Hostnames, IPs and More" class="grow font-medium min-w-0 overflow-hidden p-2 placeholder-font-subtle-light truncate focus:outline-hidden dark:bg-base-900 dark:placeholder-font-subtle-dark dark:text-font-default-dark" />
                                                    {% component "unfold/components/button.html" with type="submit" class="text-s font-semibold" %}Search{% endcomponent %}
                                                </form>
                                            </div>
                                        </div>
                                    {% endblock %}
                                {% endif %}
                                {% block userlinks %}
                                    {% include 'unfold/helpers/userlinks.html' %}
                                {% endblock %}
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endif %}