*.db
*.egg-info
*.log
*.pyc
*.sqlite3
*.bak
.DS_Store
.pytest_cache/
.coverage
.coverage.*
/coverage
.pyc
.vscode
.idea/
.vagrant
/.idea
/build
/dist
/env
local.env
*.retry
*.sqlite3-journal
*.swp
.mypy_cache/
.vim/
__pycache__/
coverage.xml

dev/*
!dev/Dockerfile*
!dev/aws-cdk
!dev/*.sh
!dev/docker-compose-*.yml
