{% extends "admin/change_form_object_tools.html" %}
{% load i18n admin_urls unfold%}

{% block object-tools-items %}
<li>
    {% url opts|admin_urlname:'preview' original.pk|admin_urlquote as preview_url %}
    <form method="get" action="{% add_preserved_filters preview_url %}">
        {% component "unfold/components/button.html" with type="submit" class="mr-2" %}
            {% translate "Preview" %}
        {% endcomponent %}
    </form>
</li>
{# this is the only reason for overriding this template -> blank item for now to separate - FIXME: fix CSS in surface-theme to handle multiple buttons correctly #}
<li></li>
{{ block.super }}
{% endblock %}
