{% load unfold dkron admin_urls i18n %}

{% block object-tools-items %}
    <div style="display: flex; gap: 8px; align-items: center;">
        {% if has_add_permission %}
            {% include "unfold/helpers/add_link.html" %}
        {% endif %}
        {% if has_dashboard_permission %}
            {% dkron_path as dashboard_url %}
            {% url cl.opts|admin_urlname:'resync' as resync_url %}
            {% add_preserved_filters resync_url is_popup to_field as resync_href %}
            {% component "unfold/components/flex.html" with class="flex-col gap-4 lg:flex-row" %}
                {% component "unfold/components/button.html" with href=dashboard_url %}
                    Dashboard
                {% endcomponent %}
                {% component "unfold/components/button.html" with href=resync_href variant="default"%}
                    Resync jobs
                {% endcomponent %}
            {% endcomponent %}
        {% endif %}
    </div>
{% endblock %}