{% extends "admin/index.html" %}

{% block index-top-panel %}
    <div class="panel-header bg-primary-gradient">
      <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
          <div>
            <h2 class="text-white pb-2 fw-bold">{{ site_title|default:_('Django site admin') }}</h2>
			      <h5 class="text-white op-7 mb-2">Security Intelligence Automation Platform</h5>
          </div>
          <div class="ml-md-auto py-2 py-md-0">
            <a href="https://github.com/surface-security/surface" class="btn btn-white btn-round btn-round mr-2" target="_blank" rel="noopener noreferrer">
              Docs & Support
            </a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
