{% extends 'base.html' %}

{% block content %}
  <h1>Secret Detail</h1>
  <dl>
    <dt>Kind</dt>
    <dd>{{ secret.kind }}</dd>
    <dt>Source</dt>
    <dd>{{ secret.source }}</dd>
    <dt>Status</dt>
    <dd>{{ secret.get_status_display }}</dd>
    <dt>Criticality</dt>
    <dd>{{ secret.get_criticality_display }}</dd>
    <dt>Verified</dt>
    <dd>{{ secret.verified|yesno }}</dd>
    <dt>Locations</dt>
    <dd>
      <ul>
        {% for location in secret.locations %}
          <li>{{ location.repo }} - {{ location.file }}</li>
        {% endfor %}
      </ul>
    </dd>
    <dt>Short Notes</dt>
    <dd>{{ secret.short_notes }}</dd>
    <dt>Team</dt>
    <dd>{{ secret.team }}</dd>
    <dt>Created At</dt>
    <dd>{{ secret.created_at }}</dd>
    <dt>Updated At</dt>
    <dd>{{ secret.updated_at }}</dd>
    <dt>Updated By</dt>
    <dd>{{ secret.updated_by }}</dd>
    <dt>Version</dt>
    <dd>{{ secret.version }}</dd>
  </dl>
{% endblock %}