{% extends 'base.html' %}

{% block content %}
  <h1>Secrets List</h1>
  <table>
    <thead>
      <tr>
        <th>Kind</th>
        <th>Source</th>
        <th>Status</th>
        <th>Criticality</th>
        <th>Verified</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for secret in secrets %}
        <tr>
          <td>{{ secret.kind }}</td>
          <td>{{ secret.source }}</td>
          <td>{{ secret.get_status_display }}</td>
          <td>{{ secret.get_criticality_display }}</td>
          <td>{{ secret.verified|yesno }}</td>
          <td><a href="{% url 'secret_detail.html' secret.pk %}">View</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}