{% extends "admin/base_site.html" %}

{% load i18n admin_urls static admin_modify unfold %}

{% block extrahead %}{{ block.super }}
    <script src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
    <meta name='viewport'
            content='initial-scale=1,maximum-scale=1,user-scalable=no' />
      <meta charset="UTF-8">
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/components/table.min.css"
            integrity="sha512-w8hSATT/ZIchIA07WVRukzgVVmKxasf21gI4ejSBJ8MBgoge/JN46CDH61ev1QBSn7SSu7M9A3jwbRoBK287ew=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/components/dropdown.min.css"
            integrity="sha512-8q8UOlqPjpVoEpje4wqsvo8Ngfk9WbC2LCUxoNEE2D0oTyaqwW/Cfvhksd2jVoDZCZWzd40rPKg99dyRWlvRkg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/components/label.min.css"
            integrity="sha512-dGDd/tDvA1KgVETxsykvhNmdjLJFlAY2Jl1k+lJfu3p+aT8wYVbikIH1xop8tFQ4fY+lcezRZK4M062pdJ9Z6Q=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/components/icon.min.css"
            integrity="sha512-Il7/gQDKTBV8i2Xd7kqh8Jv8VA9/RaojB0thVy49XZXnzF8ayZvjZhitDt1SkZqaH+dY1ueTPvTjrNvOYhBVLA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/components/menu.min.css"
            integrity="sha512-Zj5DKZXq6qUzzebfSVVHWhdmcr40nR3s9ePDMlhUY5jAivYtVgqF4sgP6gpHznld/67JrmIvHUHw01zVep4h7g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/components/divider.min.css"
            integrity="sha512-CZBVEPgYphdupTW9rdn20vXonNjT0SNGl3wAyZaDPiEBYvKU2L8ao5NrT8+R5WV5pgyl4iE/IKEaAaI/x2DtoA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/components/container.min.css"
            integrity="sha512-thTItSge8du6s55mStGuPOjVWkXamw4GnHYmeHUyHXS+hnoBoMZbeCEuYWEGgzJC5EwXLMB4/FxAHXJ5BQXvmw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/components/form.min.css"
            integrity="sha512-9G77Fy3CI0pXM/H9Pz7Nk3UmqhZRZUzcRcl4w/dB57hV+WdniTvEWxFd26NrA40wVh6KFhuL7BYo1AtQwq1pxA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/components/button.min.css"
            integrity="sha512-usV9vZnEcEGzEi0/SWWAhYpeRCbUdyOF99p/N5SeaCMqEnhE3TytF88WtJGyh6vphD2TOEOvvFlk3n2F6L0Fww=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/components/icon.min.css"
            integrity="sha512-Il7/gQDKTBV8i2Xd7kqh8Jv8VA9/RaojB0thVy49XZXnzF8ayZvjZhitDt1SkZqaH+dY1ueTPvTjrNvOYhBVLA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/components/segment.min.css"
            integrity="sha512-MPeCJK14eLNtQTeI12i5Xnr/hZPa7ghvz/P73pABORK7MpTcszrrrdBNWLz4fMOaqzEzZ+LieWoKvzvAQBVGEA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/components/search.min.css"
            integrity="sha512-deeumIFBIuZFK71tOnN6T+g+faPF4HClCdyuOg8MYd51esR0O0KQQTqbO3a+XpPep2oEsBYYY30/rTlLWuTc3g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/components/transition.min.css"
            integrity="sha512-aRbTBruhLAlVA7139PStK3P0W5fyl2h2Jv5o9zr784TfYxvJkTJi6RfA+CI5PbHehnm5E/97OGoEtpuml4eLqw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/components/checkbox.min.css"
            integrity="sha512-Z5Fttp/z8S9ylmhmnpH1DgulXVIpgJh4gxsfe84iBYDMLoFYTUH0MM9O8qrispWeho7kpvzIZZc2Dn86uCVhww=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/components/grid.min.css"
            integrity="sha512-q0WXgbOmZrf5nMecrZg6dFy0hHx+xDZjrxgNa0Gcj/yH8pBSwyTNmAWz5pjuDJCNjFxvFqtmhpj9Z/Fp6z1WBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/components/input.min.css"
            integrity="sha512-uZbdnN0wp5vrdcpTnJKOYrx5Xz6pBkTIAm2zrF1MMy6w817miV7XFvdq+I2MiRsEvrxxIOj8/+tSq1u5W8dFZA==" 
            crossorigin="anonymous" 
            referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/components/popup.min.css" 
            integrity="sha512-DfQ6rcHWRfLw8uqgOu1LMr4CIgLiAzuq8IPP7knnuReliCldsUGNxwY+QMJtQhBT8CvcQp59wlGNIsMe+C/H8w==" 
            crossorigin="anonymous" 
            referrerpolicy="no-referrer" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
            integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.js"
            integrity="sha512-5cguXwRllb+6bcc2pogwIeQmQPXEzn2ddsqAexIBhh7FO1z5Hkek1J9mrK2+rmZCTU6b6pERxI7acnp1MpAg4Q=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/components/popup.min.js" 
            integrity="sha512-tbxF2P+JF6uyEMsINKBPLRniCiQvH0RgFFjZg1c7RlA7bZKSEqZzkwMld2mLeW/8Mdq5jAHdMfJJWX88Bof9zA==" 
            crossorigin="anonymous" 
            referrerpolicy="no-referrer"></script>
      <style>
            :root {
                --ui-control-background: var(--color-base-0, #ffffff);
                --ui-control-foreground: var(--color-base-900, #0f172a);
                --ui-control-border: var(--color-base-200, #cbd5f5);
            }

            .dark {
                --ui-control-background: var(--color-base-900, #0f172a);
                --ui-control-foreground: var(--color-base-0, #f8fafc);
                --ui-control-border: var(--color-base-700, #475569);
            }

            .ui.form input,
            .ui.form select,
            .ui.form textarea {
                background: var(--ui-control-background) !important;
                color: var(--ui-control-foreground) !important;
                border: 1px solid var(--ui-control-border) !important;
            }

            .ui.selection.dropdown,
            .ui.selection.dropdown .menu {
                border: 1px solid var(--ui-control-border) !important;
                background: var(--ui-control-background) !important;
                color: var(--ui-control-foreground) !important;
                transition: background 0.2s;
            }

            .ui.selection.dropdown .menu .item {
                background: var(--ui-control-background) !important;
                color: var(--ui-control-foreground) !important;
            }

            .ui.selection.dropdown .menu .item:hover,
            .ui.selection.dropdown .menu .item:active {
                background: var(--color-primary-500) !important;
                color: #f8fafc !important;
            }

            .ui.selection.dropdown > .text,
            .ui.dropdown > .text {
                color: var(--ui-control-foreground) !important;
            }
            tbody a[href]:not(.ui.label) {
                  color: var(--color-primary-500) !important;
            }
    </style>
      </style>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="px-4">
            <div class="container mb-6 mx-auto -my-3 lg:mb-12">
                <ul class="flex flex-wrap">
                    {% url 'admin:index' as link %}
                    {% trans 'Home' as name %}
                    {% include 'unfold/helpers/breadcrumb_item.html' with link=link name=name %}

                    {% url 'admin:app_list' app_label=opts.app_label as link %}
                    {% include 'unfold/helpers/breadcrumb_item.html' with link=link name=opts.app_config.verbose_name %}

                    {% if has_view_permission %}
                        {% url opts|admin_urlname:'changelist' as link %}
                        {% include 'unfold/helpers/breadcrumb_item.html' with link=link  name=opts.verbose_name_plural|capfirst %}
                    {% else %}
                        {% include 'unfold/helpers/breadcrumb_item.html' with link='' name=opts.verbose_name_plural|capfirst %}
                    {% endif %}

                    {% if add %}
                        {% blocktranslate trimmed with name=opts.verbose_name asvar breadcrumb_name %}
                            Add {{ name }}
                        {% endblocktranslate %}

                        {% include 'unfold/helpers/breadcrumb_item.html' with link='' name=breadcrumb_name %}
                    {% else %}
                        {% include 'unfold/helpers/breadcrumb_item.html' with link='' name=original|truncatewords:'18' %}
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endblock %}
{% endif %}



{% block nav-global-side %}
    {% if has_add_permission %}
        {% include "unfold/helpers/add_link.html" %}
    {% endif %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    {% block submit_buttons_bottom %}{% endblock %}
{% endblock %}