{% extends 'views/layout.html' %}
{% load sca_templatetags %}
{% block content %}
        <div class="ui segment" style="background: transparent !important; box-shadow: none; color: var(--unfold-foreground, inherit);">
        <div class="ui secondary pointing menu">
            <a class="item" href="/sca/scaproject/{{ original.pk }}/change/">Dependencies</a>
            <a class="active item"
            href="/sca/scaproject/{{ original.pk }}/change?view=vulnerabilities">Vulnerabilities</a>
        </div>
        <form method="get" class="ui form">
            <div class="fields">
                {% for field in vulns_filter.form %}
                    <div class="{% if field.name == "dependency" %}six wide{% endif %} field">
                        {{ field.label_tag }}
                        {% if field.field.widget.input_type == 'select' %}
                            <select name="{{ field.name }}" class="ui fluid search clearable dropdown">
                                {% for choice in field.field.widget.choices %}
                                    <option {% if choice.0|to_str == field.data|to_str %}selected="selected"{% endif %}
                                            value="{{ choice.0 }}">{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="field">
                    <label>&nbsp;</label>
                    <button type="submit" class="ui inline primary button">Filter</button>
                </div>
            </div>
            <input name="view" type="hidden" value="vulnerabilities">
        </form>
        {% if current_object.is_project and vulns_filter.qs %}
            <form method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="action" value="run_renovate_dependencies">
                <div class="ui vertical labeled icon buttons">
                    <button title="Update vulnerable dependencies" type="submit" class="positive ui button">
                        <i class="ui recycle icon"></i>
                        Renovate Vulnerable
                    </button>
                </div>
            </form>
        {% endif %}
    </div>
    <table class="ui unstackable celled table" style="background: transparent !important; color: var(--unfold-foreground, inherit);">
    <style>
      .ui.segment, .ui.segment * { color: var(--unfold-foreground, inherit) !important; }
      .ui.unstackable.celled.table thead, .ui.unstackable.celled.table thead * { background: transparent !important; color: var(--unfold-foreground, inherit) !important; }

    </style>
        <thead>
            <tr>
                <th>Vulnerability ID</th>
                <th>Title</th>
                <th>Severity</th>
                <th>Aliases</th>
                <th>CVSS</th>
                <th>Published</th>
                <th>Fixed In</th>
                <th>Type</th>
                <th>Dependency</th>
                {% if current_object.is_project %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for vuln in vulns_filter.qs %}
                <tr class="left {% if vuln.get_severity_display|lower == 'critical' %}red{% elif vuln.get_severity_display|lower == 'high' %}orange{% elif vuln.get_severity_display|lower == 'medium' %}yellow{% endif %} marked expandable-row">
                    <td>
                        <a class="text-font-important-light dark:text-font-important-dark" target="_blank" href="/sca/scafinding/{{ vuln.pk }}/change/">{{ vuln }}</a>
                    </td>
                    <td>{{ vuln.title }}</td>
                    <td class="{% if vuln.get_severity_display|lower == 'critical' %}red{% elif vuln.get_severity_display|lower == 'high' %}orange{% elif vuln.get_severity_display|lower == 'medium' %}yellow{% endif %} collored">
                        {{ vuln.get_severity_display }}
                    </td>
                    <td>{{ vuln.aliases }}</td>
                    {% if vuln.cvss_vector %}
                        <td>
                            <a target="_blank"
                            class="text-font-important-light dark:text-font-important-dark"
                            href="https://nvd.nist.gov/vuln-metrics/cvss/v3-calculator?vector={{ vuln.cvss_vector|cvss_vector }}&version={{ vuln.cvss_vector|cvss_version }}">{{ vuln.cvss_score }}</a>
                        </td>
                    {% else %}
                        <td>{{ cvss_score }}</td>
                    {% endif %}
                    <td>{{ vuln.published }}</td>
                    <td>{{ vuln.fixed_in|default_if_none:"" }}</td>
                    <td>{{ vuln.get_finding_type_display }}</td>
                    <td>{{ vuln.dependency }}</td>
                    {% if current_object.is_project %}
                        <td class="center aligned">
                            <div class="ui fluid buttons">
                                <a target="_blank"
                                href="/sca/suppressedscafinding/add/?dependency_id={{ vuln.dependency.pk }}&vuln_id={{ vuln.vuln_id }}&project_id={{current_object.id}}"
                                class="ui circular icon basic tertiary orange button text-font-important-light dark:text-font-important-dark"
                                title="Suppress">
                                <i class="microphone slash icon"></i>
                                </a>
                            </div>
                        </td>
                    {% endif %}
                </tr>
                <tr class="expandable-content" style="display: none;">
                    <td colspan="10">
                        <p>{{ vuln.summary }}</p>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td class="center" colspan="10">No vulnerabilities found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        $('.ui.dropdown').dropdown();
        $(document).ready(function() {
            $('.expandable-row').click(function(event) {
                if ($(event.target).is('a') || $(event.target).is('i')) {
                return;
            }
                $(this).next('.expandable-content').toggle();
            });
        });
    </script>
{% endblock %}
