name: ci pr

on:
  push:
    branches-ignore:
      - mymain
      - dev
      - dev-*

jobs:
  test_image:
    uses: ./.github/workflows/lib_test_image.yml
    with:
      cache-from: |
        type=registry,ref=ghcr.io/${{ github.repository }}-builder-cache:latest
        type=registry,ref=ghcr.io/${{ github.repository }}-builder-cache:${{ github.ref_name }}

  tests:
    needs: test_image
    uses: ./.github/workflows/lib_tests.yml
